<%= render 'info' %>
<p><%= link_to 'Edit', '/profile/edit' %></p>
<p><%= link_to 'Change Password', '/profile/edit_password' %></p>

<br>

<p>Here is today's image, based on Denver's location, and the current weather:
<div class="icons">
<i class="fa fa-2x fa-todays-image" ><a href="<%="#{@todays_image.image_url}"%>"><%= image_tag "#{@todays_image.image_url}", id: "profile", style: "width:500px" %></a></i>
</div></p>
