<!DOCTYPE html>
<html>
  <head>
    <title>LHJE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <span class="w3-tag"><%= link_to 'Home', root_path %></span>
        <span class="w3-tag"><%= link_to 'My Music', music_path %></span>
        <span class="w3-tag"><%= link_to 'My Radio Show', '/radio' %></span>
        <span class="w3-tag"><%= link_to 'A D&D Game I DM', '/dnd' %></span>
        <span class="w3-tag"><%= link_to 'My Old Blog', 'http://www.somelovemusic.net/' %></span>
        <% if current_user %>
          <span class="w3-tag"><%= link_to 'Log Out', logout_path %></span>
          <p>Logged in as <%= link_to current_user.name, profile_path %></p>
        <% end %>
        <span class="w3-tag"><%= link_to 'Log In', login_path unless current_user %></span>
        <span class="w3-tag"><%= link_to 'Register', registration_path unless current_user %></span>
      </nav>
    </div>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
