<!DOCTYPE html>
<html>
  <head>
    <title>LHJE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <%= link_to 'Home', root_path %>
        <%= link_to 'My Music', music_path %>
        <%= link_to 'My Radio Show', '/radio' %>
        <!-- My Masters Thesis (this page should be bookish.  Maybe somehow imitate how archive.org does it?) -->
        <!-- The movie I made in college -->
        <%= link_to 'A D&D Game I DM', '/dnd' %>
        <%= link_to 'My Old Blog', 'http://www.somelovemusic.net/' %>
        <% if current_user %>
          <%= link_to 'Log Out', logout_path %>
          <p>Logged in as <%= link_to current_user.name, profile_path %></p>
        <% end %>
        <%= link_to 'Log In', login_path unless current_user %>
        <%= link_to 'Register', registration_path unless current_user %>
      </nav>
    </div>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
