<!DOCTYPE html>
<html>
  <head>
    <title>LHJE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'My Music', music_path %>
      <%= link_to 'My Radio Show', '/radio' %>
      <%= link_to 'A D&D Game I DM', '/dnd' %>
      <%= link_to 'My Old Blog', 'http://www.somelovemusic.net/' %>
      <%= link_to 'Log In', login_path unless current_user %>Q
      <%= link_to 'Register', registration_path unless current_user %>
      <% if current_user %>
        <p>Logged in as <%= link_to current_user.name, profile_path %></p>
        <%= link_to 'Log Out', logout_path %>
      <% end %>
    </nav>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
